* {
    margin: 0;
    padding: 0;
}
body {background-color: #F66;}
a,a:hover {
    text-decoration: none;
}
.fix {
    overflow: hidden;
}
.header {
    background: #000;
}
.social_media ul li{
    list-style: none;
    float: left;
	border-radius: 80%;
}
.item img {
    width: 100%;	
}
.slider {
    margin-top: 40px;
}
.content {
    margin-top: 40px;
}
.content img {
    width: 100%;
}
.contact_us {
    margin-top: 30px;
}
.footer {
    background: #000;
    margin-top: 40px;
    color: #fff;
    padding: 10px;
}
input[type="text"] {
    height: 30px;
    color: #000;
}
input[type="submit"] {
    background: #FECD44;
    padding: 3px;
    color: #000;
    height: 30px;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}
.btn-primary {background-color:#C06;
border-color:#C06;}

.btn-warning {background-color:#F93;
border-color:#000;}

.btn-warning:hover {background-color:#33F;}

.btn-default:hover {background-color: #9F6;}

.form-control {border-radius: 15px;}

.btn1{border-radius:15px;}

